@import 'reset';
@import 'components/Card/Card.module';

body {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  background-color: #0F192C;
  color: #ffffff;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

header {

  .headerInner {
    display: flex;
    justify-content: space-between;
    padding: 45px 0;
    border-bottom: 1px solid #EAEAEA;
  }

  .headerInfo {
    margin-left: 16px;
  }

  .headerTitle {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
  }

  .headerSubtitle {
    font-size: 14px;
    line-height: 17px;
    color: #9D9D9D;
  }

  .headerLeft {
    display: flex;
    align-items: center;
  }

  .headerRightList {
    display: flex;
    align-items: center;
  }

  .headerRightItem+.headerRightItem {
    margin-left: 30px;
  }

  .headerRightItemBox {
    display: flex;
    align-items: center;
    margin-bottom: 5px;

    & span {
      margin-left: 10px;
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.cart {
  position: absolute;
  width: 385px;
  height: 100%;
  right: 0;
  background-color: #FFF;
  box-shadow: -10px 4px 24px rgba(169, 237, 126, 0.2);
  padding: 20px;
  display: flex;
  flex-direction: column;

  & h3 {
    color: #000;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

.cartTop {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.cartClose {
  background: #FFFFFF;
  border: none;
  border-radius: 8px;
  color: #000000;
  min-width: 32px;
  font-size: 20px;
  line-height: 14px;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.15s ease-in-out;

  &:hover {
    opacity: 0.5;
  }
}

.cartContent {
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 20px;
}

.cartBox {
  padding: 0px 12px 0px 20px;

  & p {
    margin-bottom: 5px;
  }

  & span {
    font-weight: 700;
    color: #000000;
  }
}

.cartItem {
  background: #FFFFFF;
  border: 1px solid #F3F3F3;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 15px;
  overflow: hidden;
  width: 325px;
  margin-bottom: 20px;
}

.cartItemImg {
  min-width: 70px;
  height: 70px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 5px;
}

.carttDesc {
  color: #000;
}

.cartBtn {
  background: #FFFFFF;
  border: 1px solid #DBDBDB;
  border-radius: 8px;
  color: #DBDBDB;
  min-width: 32px;
  height: 32px;
  line-height: 14px;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.15s ease-in-out;

  &:hover {
    opacity: 1;
  }
}

.cartOrder {
  color: #000000;
}

.cartOrderList {
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 19px;

    span {
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
    }
  }
}

.cartOrderBtn {
  width: 100%;
  background: #9DD558;
  border-radius: 18px;
  color: #FFFFFF;
  height: 55px;
  border: none;
  cursor: pointer;
  position: relative;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  transition: 0.1s ease-in-out;

  &::after {
    content: url('../public/img/arrow-right.svg');
    position: absolute;
    top: 20px;
    right: 40px;
  }

  &:hover {
    background: lighten(#9DD558, 5%);
  }

  &:active {
    background: darken(#9DD558, 5%);
  }
}

.product {
  padding: 40px 0;

  .productTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }

  .searchInput {
    background-color: transparent;
    border: 1px solid #F3F3F3;
    border-radius: 10px;
    padding: 12px 15px 12px 45px;
    color: #FFFFFF;
  }

  .productTitle {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;

  }

  .productInner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    row-gap: 30px;
  }

  .search {
    position: relative;
  }

  .searchIcon {
    position: absolute;
    top: 14px;
    left: 15px;
  }
}